body {
    background: #fafafa;
}

form, .protocol {
    background-color: #f7f6f6;
    border-radius: 5px;
    padding: 1rem;
}

.strike {
    color: gray;
}

#mhd-blue {
    background-color: #0071B4!important;
}

#submit, #print-page {
    background-color: #0DA2FB!important;
}


